<h1>Listing projects</h1>

<table>
  <tr>
    <th>Project name</th>
    <th>Info</th>
    <th>Pdf dir</th>
    <th>Photo dir</th>
    <th>Zip dir</th>
    <th>Visible</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.project_name %></td>
    <td><%= project.info %></td>
    <td><%= project.pdf_dir %></td>
    <td><%= project.photo_dir %></td>
    <td><%= project.zip_dir %></td>
    <td><%= project.visible %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
