<p id="notice"><%= notice %></p>

<p>
  <b>Project name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Info:</b>
  <%= @project.info %>
</p>

<p>
  <b>Pdf dir:</b>
  <%= @project.pdf_dir %>
</p>

<p>
  <b>Photo dir:</b>
  <%= @project.photo_dir %>
</p>

<p>
  <b>Zip dir:</b>
  <%= @project.zip_dir %>
</p>

<p>
  <b>Visible:</b>
  <%= @project.visible %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
